/* General body styling */
body {
    font-family: 'Arial', sans-serif; /* You can choose any font that you like */
    line-height: 1.6; /* This gives a bit more space between lines of text */
    color: #333; /* Sets the default text color */
    background-color: #f4f4f4; /* Sets a light grey background color */
  }
  
  /* Header styles */
  header {
    background: #3dde5b;
    color: #8364f1;
    padding: 1rem 0;
    text-align: center;
  }
  
  /* Menu Section Styles */
section {
    margin-bottom: 2rem;
  }
  
  /* Menu Item Styles */
  .menu-item {
    background-color: #f8f8f8;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item h3 {
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .menu-item p {
    color: #666;
  }
  
  /* Booster List Styles */
  .booster-item {
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav {
    list-style: none;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  
  /* Main styles */
  main {
    padding: 1rem;
    background: #fff;
  }
  
  section {
    margin-bottom: 1rem;
  }
  
  article {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  
  /* Footer styles */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }

  /* Base mobile styles here */

/* Tablet and desktop styles */
@media (min-width: 768px) {
  .menu-item,  .booster-item, {
      /* Adjust padding, margins, font-sizes for larger screens */
    }
  
    /* Adjust layout for larger screens */
    /* You could use a grid or flexbox to layout your menu items in rows and columns */
    section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
}
}
  
  /* Responsive styles */
@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .nav-link {
      padding: 0.5rem;
    }
  }
  
